.input-container{
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.input-radio{
    display: flex;
    gap: .8em;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: .3em;
    color: #0560f2;
}
.input-field{
    border: 1px solid #0000ff;
    width: 70%;
    display: flex;
}
input[type=text]{
    padding: .5em .3em;
    width: 80%;
    outline: none;
}
::placeholder{
    color: #0560f2;
    font-weight: bold;
}
.input-field button{
    width: 20%;
    background-color: #0560f2;
    color: #fff;
    font-weight: bold;
}
@media (max-width: 768px){
    .input-container{
        border: 1px solid blue;
        box-shadow: 1px 1px 10px 5px #0560f2;
        width: 90%;
        height: 20vh;
    }
}
@media screen and (max-width: 543px){
    .input-container{
        height: 15vh;
        box-shadow: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid #0000ff;
    }
    .input-radio{
        background-color: #0606f3;
        color: #fff;
        padding: .5em;
        width: 50%;
        border-radius: 10px;
    }
}