*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    border: 1px solid blue;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0560f2;
    color: #fff;
}
@media (max-width: 768px){
    .header{
        height: 5vh;
        font-size: .7em;
    }
}
@media (max-width: 543px){
    .header{
        font-size: .8em;
    }
}