.list-container{
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.today-container, .upcoming-container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    background-color: #0560f2;
}
.list-container h3{
    border: 1px solid #0560f2;
    background-color: #fff;
    color: #0560f2;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: .1em;
}
.container{
    overflow-y: auto;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}
@media (max-width: 768px){
    .list-container{
        width: 90%;
        box-shadow: none;
        height: 50vh;
        flex-direction: row;
        gap: 0;
    }
    .today-container, .upcoming-container{
        border: none;
        width: 50%;
        height: 100%;
        flex-direction: column;
    }
    .container{
        height: 50vh;
    }
    .border-line{
        border: 2px solid #fff;
        height: 100%;
    }
}
@media screen and (max-width: 543px){
    .list-container{
        flex-direction: column;
        height: 100%;
        align-items: center;
        width: 100%;
        gap: .5em;
    }
    .border-line{
        display: none;
    }
    .today-container, .upcoming-container{
        width: 100%;
        height: 35vh;
        gap: .5em;
    }
}