.list-wrapper{
    border: 1px solid green;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-wrapper{
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-inline: 2em;
    box-shadow: 1px 1px 10px 10px #0560f2;
    border-radius: 10px;
}
@media screen and (max-width: 768px){
    .list-wrapper{
        height: 95%;
    }
    .container-wrapper{
        height: 90%;
        flex-direction: column;
        gap: 1.3em;
        padding: 0;
    }
}
@media screen and (max-width: 543px){
    .list-wrapper{
        justify-content: initial;
    }
    .container-wrapper{
        box-shadow: initial;
        width: 100%;
        border-radius: initial;
        gap: 0;
    }
}