.container-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.today-list-container{
    width: 95%;
    display: flex;
}

.today-list-container ul{
    width: 90%;
    list-style: none;
}
.today-list{
    border: none;
    padding: .5em;
    width: 100%;
    background-color: #0560f2;
}

.today-buttons{
    display: flex;
}


.today-buttons .delete-btn{
    background-color: #ff0000;
    padding: .3em .4em;
    color: white;
    font-size: 1em;
}
.today-buttons .complete-btn{
    background-color: green;
    padding: .3em;
    font-size: 1em;
    color: white;
}
.today-buttons .completed{
    text-decoration: line-through;
    background-color: #0560f2;
    opacity: .6;
}