.today-list-container{
    width: 95%;
    display: flex; 
}
.today-list-container ul{
    width: 90%;
    list-style: none;
    
}
.today-list{
    border: none;
    padding: .5em;
    width: 100%;
    background-color: #fff;
    color: #0560f2;
}
.today-buttons{
    display: flex;
}
.delete-btn{
    background-color: #ff0000;
    padding: .3em .4em;
    color: white;
    font-size: 1em;
}
.complete-btn{
    background-color: green;
    padding: .3em;
    font-size: 1em;
    color: #fff;
}
.completed{
    padding: .5em;
    width: 100%;
    background-color: #fff;
    text-decoration: line-through;
    opacity: .6;
}
.deleted{
    padding: .5em;
    width: 100%;
    background-color: #0560f2;
    animation: delete 2s ease-out;
}
@media screen and (max-width: 543px){
    .today-list-container{
        width: 90%;
    }
}
