.container-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upcoming-list-container{
    width: 95%;
    display: flex;
}
.upcoming-list-container ul{
    width: 90%;
    list-style: none;

}

.upcoming-list{
    border: none;
    width: 100%;
    padding: .5em;
    background-color: #0560f2;
}
.upcoming-buttons{
    display: flex;
    transition: all 2s ease-in;
}
.upcoming-buttons .delete-btn{
    background-color: #ff0000;
    padding: .3em .4em;
    color: white;
    font-size: 1em;
}
.upcoming-buttons .complete-btn{
    background-color: green;
    padding: .3em;
    font-size: 1em;
    color: white;
}
.upcoming-buttons .completed{
    text-decoration: line-through;
    background-color: #0560f2;
    opacity: .6;
}